.build
.swiftpm
.DS_Store
.xcbkptlist
Examples/VoicesApp/Config/Local.xcconfig
xcuserdata/*
*.pbxproj
*.xcworkspace
*.xcuserdata
*.xcuserstate
*.xcuserdatad
*.xcuserdatad/xcdebugger
*.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
.tmp/
audit-repo/
